<a href="https://colab.research.google.com/github/ShubhraBhuniaGhosh/OpenElectivePredictor_JavaScript/blob/master/modified.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sbn
import plotnine as pln

In [0]:
from google.colab import files
uploaded = files.upload()

Saving new.csv to new.csv

In [0]:
import io
data = pd.read_csv(io.BytesIO(uploaded['new.csv']))

In [0]:
data.head()

   country  year  ...       generation suicides/100k pop
0  Albania  1987  ...     Generation X              6.71
1  Albania  1987  ...           Silent              5.19
2  Albania  1987  ...     Generation X              4.83
3  Albania  1987  ...  G.I. Generation              4.59
4  Albania  1987  ...          Boomers              3.28

[5 rows x 12 columns]

In [0]:
data.tail()

          country  year  ...    generation suicides/100k pop
27815  Uzbekistan  2014  ...  Generation X              2.96
27816  Uzbekistan  2014  ...        Silent              2.58
27817  Uzbekistan  2014  ...  Generation Z              2.17
27818  Uzbekistan  2014  ...  Generation Z              1.67
27819  Uzbekistan  2014  ...       Boomers              1.46

[5 rows x 12 columns]

# New Section

In [0]:
data.columns=["country","year","gender","age_group","suicide_number","population","sui_pop","country_year","hdi","gdp_for_year","gdp_per_capita","generation"]

In [0]:
data.isna().sum()

NameError: ignored

In [0]:
data.drop(["country_year","gdp_for_year","gdp_per_capita","hdi"],axis=1,inplace=True)
data.head()

   country  year  gender  ... population      sui_pop  generation
0  Albania  1987    male  ...     312900  Albania1987        6.71
1  Albania  1987    male  ...     308000  Albania1987        5.19
2  Albania  1987  female  ...     289700  Albania1987        4.83
3  Albania  1987    male  ...      21800  Albania1987        4.59
4  Albania  1987    male  ...     274300  Albania1987        3.28

[5 rows x 8 columns]

In [0]:
data["age_group"]=data["age_group"].apply(lambda x: str(x).replace('5-14 years','child') if '5-14 years' in str(x) else str(x))
data["age_group"]=data["age_group"].apply(lambda x: str(x).replace('15-24 years','youth') if '15-24 years' in str(x) else str(x))
data["age_group"]=data["age_group"].apply(lambda x: str(x).replace('25-34 years','young adult') if '25-34 years' in str(x) else str(x))
data["age_group"]=data["age_group"].apply(lambda x: str(x).replace('35-54 years','early adult') if '35-54 years' in str(x) else str(x))
data["age_group"]=data["age_group"].apply(lambda x: str(x).replace('55-74 years','adult') if '55-74 years' in str(x) else str(x))
data["age_group"]=data["age_group"].apply(lambda x: str(x).replace('75+ years','senior') if '75+ years' in str(x) else str(x))

In [0]:
data.head()

   country  year  gender  ... population      sui_pop  generation
0  Albania  1987    male  ...     312900  Albania1987        6.71
1  Albania  1987    male  ...     308000  Albania1987        5.19
2  Albania  1987  female  ...     289700  Albania1987        4.83
3  Albania  1987    male  ...      21800  Albania1987        4.59
4  Albania  1987    male  ...     274300  Albania1987        3.28

[5 rows x 8 columns]

In [0]:
x.corr()

NameError: ignored